<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
</head>
<body style="margin:0; padding:0; font-family:Arial, sans-serif; background-color:#f5f5f5;">

<table style="width:100%; border-collapse:collapse; background-color:#ffffff; border-radius:6px; overflow:hidden;">
    <tr>
        <td style="background-color:#eeeeee; padding:20px;">
            <table style="width:100%; border-collapse:collapse;">
                <tr>
                    <td style="vertical-align:middle; text-align:left;">
                        <h1 style="margin:0; font-size:26px; font-weight:600;">
                            Medical
                        </h1>
                    </td>
                    <td style="display: flex; justify-content: flex-end;">
                        <img src="data:image/png;base64,{base64img}"
                             alt="Logo"
                             width="120"
                             style="display:block; border:0;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:20px; color:#333333; font-size:16px; line-height:1.5;">
            <p>Beste {VOORNAAM},</p>
            <p>
                In onze administratie staat dat je medical binnenkort verloopt, of al verlopen is.
                Wij hebben <b>{MEDICAL_DATUM}</b> geregistreerd staan als geldigheidsdatum.
                Deze mail is een herinnering om je medical tijdig te verlengen.
            </p>
            <p>
                Mocht je inmiddels opnieuw gekeurd zijn, pas dan de nieuwe geldigheidsdatum aan in je profiel.
                Dat is handig omdat we tijdens het invoeren van een nieuwe start een controle uitvoeren of je medical nog geldig is.
                Een verlopen medical zal tot vragen leiden en daarmee het vliegbedrijf onnodig vertragen.
            </p>
        </td>
    </tr>

    <tr>
        <td style="padding-left: 15px;">
            <p>Bedankt voor de medewerking en met vriendelijke groet,</p>
            <p>De startadministratie</p>

            <p style="padding-top: 20px;">PS: Indien je medical niet meer verlengd kan worden, verwijder dan de datum uit je profiel. Je krijgt dan geen herinneringen meer.</p>
        </td>
    </tr>

    <!-- Footer -->
    <tr>
        <td style="background-color:#eeeeee; padding:15px; text-align:center;">
            <p style="margin:0; font-size:14px; color:#555555;">
                Bezoek onze website:
                <a href="https://www.gezc.org"
                   style="color:#1a73e8; text-decoration:none;">
                    www.gezc.org
                </a>
            </p>
        </td>
    </tr>
</table>
</body>
</html>
