<html>
<body style='font-family: Arial, Helvetica, sans-serif; font-size:12px;'>
<p>Beste {VOORNAAM},</p>
<p>Je hebt vandaag een of meerdere vluchten gemaakt. In onze administratie ontbreekt de bevoegdheid om op {CALLSIGNS} te mogen vliegen.</p>
<p>Mocht het niet je eerste vlucht zijn dan graag contact opnemen met een instructeur zodat het vinkje alsnog gezet kan worden.</p>
<p>Bedankt voor de medewerking en met vriendelijke groet,</p>
<p>De startadministratie</p>
<p>PS: Een kopie van deze mail is naar het CI-MT verstuurd.</p>
</body>
</html>
